* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #ebebf5;
}

/* Header Style Start */

header {
    background-color: #252936;
    padding: 20px 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header h1 {
    background-color: #a9d6d2;
    color: #3e535c;
    font-weight: bold;
    font-size: 50px;
    margin: 0; 
    padding: 5px 10px 5px 10px;  
}

header h1 a {
    color: #3e535c;
    text-decoration: none;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

header nav ul li {
    margin: 10px;
} 

header nav ul li a {
    color: #a9d6d2;
    font-size: 1.55vw;
    font-weight: lighter;
    
}

/* Header Style End */

/* Hero Style Start */

.hero {
    padding: 60px;
    background-image: url("../images/cover.jpeg");
    height: 550px;
    display: flex;
    justify-content: space-between;
}

.hero h2 {
    font-size: 5vw;
    /* background-color: #a9d6d2; */
    /* width: 80%; */
    color: #3e535c;
    /* display: flex;
    align-items: flex-start;
    flex-wrap: wrap; */
}

.hero img {
    height: 12em;
    width: 12em;
    margin: 12em 0;
    /* border: 5px solid #a9d6d2; */
    z-index: 999;   
}
/* Hero Style End */


main {
    display: flex;
    flex-wrap: wrap;
} 

/* About Me Style Start */

#about-me {
    display: flex;
    flex-wrap: wrap; 
} 

#about-me p {
    line-height: 1.3;
    width: 70%;
    margin: 4%; 
    display: flex;
}

/* Work Style Start */
/* #work {
      display: flex;
     flex-flow: row wrap;
     justify-content: space-around; 
 }  */
 
.large-proj-img {
    border: 5px solid #a9d6d2;
    /* position: relative; */
    text-align: center;
    text-decoration: none;
}

.large-proj-img img {
    width: 100%;
    height: auto;
}

.proj {
    display: flex;
    margin: 0 auto;
    flex-flow: row wrap;
    justify-content: space-around;
}

.proj-link {
    width: 45%;
}

.proj-img {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    border: 5px solid #a9d6d2;
}

.proj-img img {
    width: 100%;
    height: auto;
}


.label {
    background-color: #a9d6d2; 
    z-index: 1;
    /* position: absolute; */
    
    text-decoration: none;
}

.label h3 {
    font-size: 26px;
    bottom: 2.5em;
    left: 1em;
}

    .label p {
        font-size: 20px;
        font-style: lighter;
        bottom: 0.5em;
        left: 1em; 
    }

/* Work Style End */

/* Contact Me Style Start */

#contact-me a, #contact-me p {
    text-decoration: none;
    margin: 20px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-bottom: 5px solid;
    border-color: #3e535c;  
}

/* Contact Me Style End */

/* .flex-row {
    display: inline-flex;
} */

.section-title {
    font-size: 3vw;
    color: #3e535c;
    border-right: 5px solid;
    border-color: #3e535c;
    padding: 10px;
    margin: 10%;
    /* width: 230px; */
}
/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */

@media screen and (max-width: 575px) { 
    .section-title {
    /* width: 95%; */
    border-right: 0px;
    border-bottom: 5px solid ;
    border-color: #3e535c;
    }
}  

/* MEDIA QUERY FOR TABLETS AND SMALLER */

@media screen and (max-width: 768px) {
.section-title {
    /* width: 95%; */
    border-right: 0px;
    border-bottom: 5px solid ;
    border-color: #3e535c;
    }   

#work {
    flex-direction: column;
    }

} 
  
 