* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #ebebf5;
}

header {
    background-color: #252936;
    padding: 20px 35px;
}

header h1 {
    background-color: #a9d6d2;
    color: #3e535c;
    font-weight: bold;
    font-size: 50px;
    margin: 0; 
    padding: 5px 10px 5px 80px;
    display: inline;  
}

header h1 a {
    color: #3e535c;
    text-decoration: none;
}
header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    color: #a9d6d2;
    font-size: 22px;
    font-weight: lighter;
}

/* Hero Style Start - add text */

.hero {
    padding: 60px;
    background-image: url("../images/cover.jpeg");
    height: 550px;
    position: relative;
}

.hero h2 {
    position: absolute;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 38px;
    background-color: #a9d6d2;
    padding: 10px auto;
    width: 100%;
    color: #3e535c;
}

.hero img {
    height: 200px;
    width: 200px;
    margin: 200px auto;
    border: 5px solid #a9d6d2;
    z-index: 999;
}

/* Hero Style End */

h3 {
    font-size: 30px;
    color: #3e535c;
    border-right: 5px solid;
    border-color: #3e535c;
    display: inline;
    padding: 10px;
}

#about-me p {
    float: right;
}

/* Work Style Start */

#work img {
    border: 5px solid #a9d6d2;
}


